@font-face {
    font-family: MKAbel;
    src: url("MKAbel.ttf");
    font-weight: bold;
}

body
{
    background-image: url("lighto.jpg");
    background-size: 100%;
    opacity: 100%;
    color: black;
}

h3
{
    display: inline;
    font-weight: 900;
}

h4
{
    display: inline;
}

h1
{
    display: inline;
}

p{
    display: inline;
    font-size: 20px;
}

header
{
    font-family: MKAbel;
}

.carouselAcc
{
    padding: 5px;
}

.carousel {
    /* any dimensions are fine, it can be responsive with max-width */
    width: 80%;
    height: 60%;
    margin: auto;
    margin-top: 2%;
}

.carousel-inner {
    /* make sure your .items will get correct height */
    height: 100%;
}

.item {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

body
{
    font-family: MKAbel;
    color: white;
}

footer
{
    font-family: MKAbel;
    color: black;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    background-color: #696969;
    width: 100%;
    height: 120px;
    margin-top: 5%;
    justify-content: space-around;
}

.item_flex_right
{
    align-self: center;
}

.item_flex_left
{
    align-self: center;
}

.lilIcons
{
    margin-right: 5px;
}

.fa
{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover
{
    opacity: 0.7;
}

.fa-facebook
{
    border-radius: 17px;
    background: #2c4762;
    color: white;
    margin: auto;
}

.fa-twitter
{
    border-radius: 17px;
    background: #2c4762;
    color: white;
    margin: auto;
}

.fa-instagram
{
    border-radius: 17px;
    background: #2c4762;
    color: white;
    margin: auto;
}

.img_border_rd
{
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;
}

.parent
{
    width: 800px;
    height: 600px;
    margin-top: 10%;
}

.child
{
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("MoiFinalCV.jpg");
    background-position: center;
    background-size: cover;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

    border-radius: 55px;
    box-shadow: 10px 5px 5px black;
}

.parent:hover .child,
.parent:focus .child
{
    transform: scale(1.2);
}

.child:before
{
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(70,73,94,0.75);
    border-radius: 55px;
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover .content_text, .parent:focus .content_text
{
    display: block;
}

.infos
{
    background-image: url("vr.jpg");
    background-size: 105%;
    border-radius: 17px;
    box-shadow: 10px 5px 5px black;
    width: 70%;
    padding: 4%;
    margin-right: 10%;
}


.content_text
{
    display: none;
    color: white;
    font-size: 80px;
    margin-top: 200px;
    margin-left: 70px;
    position: absolute;
    text-decoration: underline;
}

.bigIcons
{
    margin-right: 15px;
    font-size: 2.5em;
}

.contact_form {
    margin-left: 5%;
    margin-bottom: 5%;
    width: 70%;
}

.form-control
{
    border-radius: 1rem;
    width: 50%;
}

.mouse_box
{
    background-image: url("HS.jpg");
    background-size: 100%;
    width: 1200px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;

}

@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 60%;
}
.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    color: #ffffff;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 23px;
}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}

.centered_text
{
    margin-left: 18%;
    margin-top: 5%;
    font-size: 70px;
}

.pro_box
{
    padding: 2%;
    background-image: url("VH.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 1rem;
    margin-right: 2%;
    margin-left: -2%;
    box-shadow: 10px 5px 5px black;
}

.asso_box
{
    background-image: url("WM.jpg");
    padding: 5%;
    background-size: 100%;
    border-radius: 1rem;
    margin-top: 20%;
    box-shadow: 10px 5px 5px black;
}
