@font-face {
    font-family: MKAbel;
    src: url("MKAbel.ttf");
    font-weight: bold;
}


.container
{

}

header
{
    font-family: MKAbel;
}

.carouselAcc
{
    padding: 5px;
}

.carousel {
    /* any dimensions are fine, it can be responsive with max-width */
    width: 80%;
    height: 60%;
    margin: auto;
    margin-top: 2%;
}

.carousel-inner {
    /* make sure your .items will get correct height */
    height: 100%;
}

.item {
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
}

body
{
    font-family: MKAbel;
    background-color: #EFE2BA;
}

footer
{
    font-family: MKAbel;
    color: black;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    background-color: #696969;
    width: 100%;
    height: 120px;
    margin-top: 5%;
    justify-content: space-around;
}

.item_flex_right
{
    align-self: center;
}

.item_flex_left
{
    align-self: center;
}

.lilIcons
{
    margin-right: 5px;
}

.fa
{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover
{
    opacity: 0.7;
}

.fa-facebook
{
    border-radius: 17px;
    background: #2c4762;
    color: white;
    margin: auto;
}

.fa-twitter
{
    border-radius: 17px;
    background: #2c4762;
    color: white;
    margin: auto;
}

.fa-instagram
{
    border-radius: 17px;
    background: #2c4762;
    color: white;
    margin: auto;
}


